<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @question_papership.order %>
</p>

<%= link_to 'Edit', edit_question_papership_path(@question_papership) %> |
<%= link_to 'Back', question_paperships_path %>
