
<script>
$(function(){
    var pathName =  window.location.pathname
    $("#pathName").val(pathName)

    var url_string = window.location.href
    var url = new URL(url_string);
    var id = url.searchParams.get("id");
    $("#paperSetId").val(id)
})
</script>

<form id="filter" action="/papers/api/filter" novalidate="novalidate" method="post">
科目 : <%= collection_select(:filter, :subject_name, Subject.select(:name).distinct.where(:platform_type => session[:platform_id]).order(:name), :name, :name, prompt: true) %>
年級 : <%= collection_select(:filter, :grade_name, Grade.select(:name).distinct.where(:platform_type => session[:platform_id]).order(:name), :name, :name, prompt: true) %>
上架日期: 
<%= collection_select(:filter, :init_public_date, Paper.select(:public_date).distinct.where(:platform_type => session[:platform_id]).order(:public_date), :public_date, :public_date, prompt: true) %>
~
<%= collection_select(:filter, :end_public_date, Paper.select(:public_date).distinct.where(:platform_type => session[:platform_id]).order(:public_date), :public_date, :public_date, prompt: true) %>
有效性:
<select name="filter[active]">
    <option value="">請選擇</option>
    <option value="true">有效</option>
    <option value="false">無效</option>
</select>
<input id='pathName' name="filter[path_name]" type="hidden">
<input id='paperSetId' name="filter[paper_set_id]" type="hidden">
<button type="submit">
篩選
</button>
<a href="/papers" class="btn btn-default">重設</a>
</form>
