<form id="filter" action="/papers/api/filter" novalidate="novalidate" method="post">
科目 : <%= collection_select(:filter, :subject_name, Subject.distinct(:name).where(:platform_type => session[:platform_id]).order(:name), :name, :name, prompt: true) %>
年級 : <%= collection_select(:filter, :grade_name, Grade.distinct(:name).where(:platform_type => session[:platform_id]).order(:name), :name, :name, prompt: true) %>
上架日期: 
<%= collection_select(:filter, :init_public_date, Paper.distinct(:public_date).where(:platform_type => session[:platform_id]).order(:public_date), :public_date, :public_date, prompt: true) %>
~
<%= collection_select(:filter, :end_public_date, Paper.distinct(:public_date).where(:platform_type => session[:platform_id]).order(:public_date), :public_date, :public_date, prompt: true) %>
有效性:
<select name="filter[active]">
    <option value="">請選擇</option>
    <option value="true">有效</option>
    <option value="false">無效</option>
</select>
<button type="submit">
篩選
</button>
<a href="/papers" class="btn btn-default">重設</a>
</form>