<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">瀚師科技後台管理系統</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">首頁</a></li>
      <li><a href="/papers">試卷管理</a></li>
      <li><a href="/paper_subjects">試卷科目管理</a></li>
      <li><a href="/subjects">科目管理</a></li>
      <li><a href="">試卷與題目分析</a></li>
    </ul>
  </div>
</nav>