<style>
a.dropdown-item:hover{
    background-color:white;
}
</style>

<nav class="navbar navbar-default navbar-toggleable-md">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">瀚師科技後台管理系統</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav">
      <li><a href="/">首頁</a></li>
      <% if current_user %>
      <li><a href="/papers">試卷管理</a></li>
      <li><a href="/paper_subjects">試卷科目管理</a></li>
      <li><a href="/subjects">科目管理</a></li>
      <li><a href="/grades">年級管理</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <% if current_user.has_role? :admin %>
      <li><a href="/">題目分析</a></li>
      <% end %>
      <% if current_user.has_role? :admin%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          目前平台: 
          <% if $platform_id == 0 %>
          iAsk
          <% elsif $platform_id == 1 %> 
          聯合改作文   
          <% elsif $platform_id == 2 %> 
          讀享        
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/home/iask">iAsk</a>
          <a class="dropdown-item" href="/home/reader">讀享</a>
          <a class="dropdown-item" href="/home/udn">聯合改作文</a>
        </div>
      </li>
      <% end %>
      <li class="pull-right"><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
      <li class="pull-right"><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
      <% end %>
    </ul>
    </div>
  </div>
</nav>
